.dashboard {
    display: flex;
    background-color: #ececec;
}

/* 
.banner {
  background-image: url(./banner.jpg);
} */

.dashboard-container {
    /* border: 1px solid #ff0000; */
    width: 100%;
    height: 100vh;
    background-color: #ececec;
  }
  
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: 75%;
}

.card-container > * {
    flex: 0 0 30%;
    /* border: 1px solid blue; */
}

