.metric-card-container {
    margin: 0.5rem;
}

.card-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.051);
    padding: 1rem;
    height: 200px;
}

.card-contents h2 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.card-contents:hover {
    cursor: pointer;
}

