.table-container {
    background-color: white;
    padding: 5px;
}

.table-header {
    border: 1px solid black;
    font-size: 12px;
    padding: 5px;
}

.table-row {
    border: 1px solid pink;
}

.table-data {
    border: 1px solid black;
}

.table-data-name {
    border: 1px solid black;
    font-size: 12px;
    padding: 5px;
}