.table-container {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.051);
}

.table-container h2 {
    font-size: 1rem;
    margin-left: 10px;
}

.close-button {
    float: right;
    margin: 5px;
    border: none;
}

.table-header {
    border: 1px solid black;
    font-size: 12px;
    padding: 5px;
}

.table-row {
    border: 1px solid pink;
}

.table-data {
    border: 1px solid black;
}

.table-data-name {
    border: 1px solid black;
    font-size: 12px;
    padding: 5px;
}